/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#main {
     font-family: 'Lobster', cursive;
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-height: 71px;
     text-decoration: none;
     border-bottom: 1px solid lightgrey;

}

#logo {
     font-size: 40px;
     text-decoration: none;
     margin-left: 39px;
     /* margin-right: 1000px; */
}

.splash {
     text-decoration: none;
}

.splash:visited {
     color: #F6870F;
}

#nav {
     display: flex;
     justify-content: space-around;
     width: 80%;
     text-decoration: none;
     margin-right: 39px;
}

#nav-logout {
    text-decoration: none;
    margin-right: 39px;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E8F0FE;
  min-width: 130px;
  min-height: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown menu on hover */
#nav-logout:hover .dropdown-content {
    display: block;
}

.dropdown-button {
    font-family: 'Roboto', sans-serif;
    background-color: #F6870F;
    color: #FFFFFF;
    border: 0;
    box-shadow: none;
    border-radius: 3px;
    margin-top: 5px;
}
.dropdown-button:hover {
    cursor: pointer;
}

.dropdown-title {
    margin-top: 5px;
    border-bottom: 1px solid lightgray;
}

.user-interface {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.signup-link {
    text-decoration: none;
    color: #F6870F;
}
.signup-link:hover {
    cursor: pointer;
}
.signup-link:visited {
    color: #F6870F;
}

.login-link {
    text-decoration: none;
    color: #F6870F;
}
.login-link:hover {
    cursor: pointer;
}
.login-link:visited {
    color: #F6870F;
}

.logout-link {
    text-decoration: none;
    color: #F6870F;
}
.logout-link i{
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logout-link:hover {
    cursor: pointer;
}
.logout-link:visited {
   color: #F6870F;
}

.logout-link-name {
    font-size: small;
    font-family: 'Roboto', sans-serif;
}


#cart-logo {
    color: #F6870F;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 3px;
    text-decoration: none;
}

#cart-logo:visited {
    color: #F6870F;
}

#cart-logo h3 {
    font-size: small;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

#cart-logo h3:visited {
    color: #F6870F;
    text-decoration: none;
}

.cart-logo {
    text-decoration: none;
}
.cart-logo:visited {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    min-height: 80px;
}










.review-form{
    display: flex;
    flex-direction: column;
}
.review-input {
    display: flex;
    flex-direction: column;
    height: 500px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
}
.review-info{ 
    display: flex;
    flex-direction: column;
    height: 350px;
}
.review-input-label {
    font-family: 'Roboto', sans-serif;
    border: 1px solid lightgrey;
    background: none;
    box-shadow: none;
    border-radius: 3px;
    background-color: #E8F0FE;
    width: 200px;
    height: 25px;
}
.review-input-label-rating {
    font-family: 'Roboto', sans-serif;
    border: 1px solid lightgrey;
    background: none;
    box-shadow: none;
    border-radius: 3px;
    background-color: #E8F0FE;
    width: 25px;
    height: 25px;
}
.review-tips {
    height: 150px;
    border-bottom: 1px solid lightgray;
}
.review-tips-title {
    font-size: large;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.review-tips-info {
    font-family: 'Roboto', sans-serif;
}

.review-input-text {
    font-family: 'Roboto', sans-serif;
    border: 1px solid lightgrey;
    background: none;
    box-shadow: none;
    border-radius: 3px;
    background-color: #E8F0FE;
    width: 450px;
    height: 75px;
}

.review-submit {
    height: 100px;
}

.review-label-1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}
.review-label-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.review-label-3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.review-label-4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.review-modal-submit {
    margin-left: 15px;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    background-color: #F6870F;
    color: #FFFFFF;
    border: 0;
    box-shadow: none;
    border-radius: 3px;
    height: 30px;
    width: 160px;
}















.review-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.review-modal-child {
  /* font-family: 'Lobster', cursive; */
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border-radius: 10px;
  height: 650px;
  width: 500px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0px 50px rgba(0,0,0,0.2);
}

.review-modal-heading {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* background-color: crimson; */
    min-width: 500px;
    min-height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid lightgrey;
}
.review-modal-heading h1 {
    font-size: 50px;
}





.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 11;
}

.modal-child {
  font-family: 'Lobster', cursive;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border-radius: 3px;
  border-top: 1px solid black;
  height: 500px;
  width: 392px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0px 50px rgba(0,0,0,0.2);
}

.background {
    width: 100%;
    max-height: 667px;
    padding-bottom: 30px;
}

.overlay-container {
    position: relative;
    width: 100%;   
}

.overlay {
  position: absolute;
  bottom: 35px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  min-height: 625px;
  width: 100%;
  opacity:1;
  padding: 20px;
}

.modal-heading {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    /* background-color: crimson; */
    width: 392px;
    height: 57px;
    padding-top: 10px;
    border-bottom: 1px solid lightgrey;
}
.modal-heading h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 186px;
}

.modal-body {
    display: flex;
    align-items: center;
    padding: 1px 0;
    flex-direction: column;
}

.form-header {
    font-family: 'Roboto', sans-serif;
    font: bold;
    font: bold;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.errors {
    font-family: 'Roboto', sans-serif;
    color: crimson;
}

.email {
    font-family: 'Roboto', sans-serif;
    border: 1px solid lightgrey;
    background: none;
    box-shadow: none;
    width: 100%;
    border-radius: 3px;
    min-width: 312px;
    min-height: 36px;
    background-color: #E8F0FE;
    margin-top: 7px;
    border-radius: 6px;
}

.password {
    font-family: 'Roboto', sans-serif;
    border: 1px solid lightgrey;
    background: none;
    box-shadow: none;
    width: 100%;
    border-radius: 3px;
    min-width: 285px;
    min-height: 36px;
    background-color: #E8F0FE;
    margin-top: 7px;
    margin-right: 5px;
    border-radius: 6px;
}

.label {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    font-weight: 500;
    color: #414141;
}

.session-button {
    border: 0;
    background: none;
    box-shadow: none;
    width: 363px;
    height: 30px;
    background-color: #F6870F;
    color: cornsilk;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-left: 7px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}
.session-button:hover {
    cursor: pointer;
}
.selected-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 115px;
    border-bottom: 5px solid #F6870F;
    color: #F6870F;
}
.selected-form:hover {
    cursor: pointer;
}

.nonselected-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 115px;
}
.nonselected-form:hover {
    cursor: pointer;
    color: #F6870F;
}













.search-bar1 {
    border: 1px solid lightgrey;
    background: none;
    box-shadow: none;
    height: 40px;
    width: 800px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: 300;
    color: black;
    padding-left: 10px;
    background-color: whitesmoke;
}
.search-bar1:focus {
    outline: none;
}

#search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    background: none;
    box-shadow: none;
    height: 38px;
    width: 38px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: white;
}

.search {
    display: flex;
    flex-direction: column;
    margin-right: 125px;
    z-index: 10;
    position: relative;
    min-height: 40px;
}
.search-bar-components {
    display: flex;
    flex-direction: row;
}

.search-modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;
}
.search-modal-background-child {
    position: absolute;
    top: 18px;
    left: 221px;
}

.search-modal-child {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    min-height: 100px;
    width: 840px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0px 50px rgba(0,0,0,0.2);
    z-index: 10;
    position: absolute;
    top: 40px;
}




.search-bar2 {
    border: 1px solid lightgrey;
    background: none;
    box-shadow: none;
    height: 40px;
    width: 800px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: 300;
    color: lightgrey;
    padding-left: 10px;
}
.search-bar2:focus {
    outline: none;
}

#search-button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    background: none;
    box-shadow: none;
    height: 38px;
    width: 38px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: white;
}

.search2 {
    display: flex;
    flex-direction: column;
    margin-right: 125px;
    z-index: 10;
    position: relative;
    min-height: 40px;
    background-color: blue;
}
.search-bar-components2 {
    display: flex;
    flex-direction: row;
}

.search-modal-background2 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;
}
.search-modal-background-child2 {
    position: absolute;
    top: 438px;
    left: 48px;
}

.search-modal-child2 {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    min-height: 100px;
    width: 840px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0px 50px rgba(0,0,0,0.2);
    z-index: 10;
    position: absolute;
    top: 40px;
}



















.search-item {
    border: 1px solid lightgray;
    border-radius: 3px;  
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 835px;

}

.search-item-img {
    max-height: 150px;
    max-width: 150px;
    min-width: 150px;
    min-height: 150px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.item-search {
    width: 685px;
    height: 150px;
}

.item-search-info {
    width: 682px;
    height: 100px;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-top: 2px;
}

.search-item-info {
    margin-top: 15px;
    margin-left: 15px;
    width: 550px;
}

.search-item-checkout {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 50px;
    width: 685px;
    margin-top: 3px;
}

.search-item-title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.search-link {
    text-decoration: none;
}
.search-link:visited{
    text-decoration: none;
    color: black;
}

.search-result-parent {
    position: relative;
}
.no-search-result {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right: 46%;
    margin-top: 20px;
}























.listing {
    width: 219px;
    height: 325px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.link-listing {
    text-decoration: none;
    margin-right: 20px;
}
.link-listing :visited {
    text-decoration: none;
}

.listing-content section{
    padding-bottom: 5px;
    color: #F6870F;
}

.listing-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 5px;
    padding-top: 10px;
    color: #F6870F;
    text-decoration: none;
}

.listing-content p{
    color: #F6870F;
    padding-top: 10px;
}
.listing-content p:visited{
    text-decoration: none;
}
.listing-content h3:visited{
    text-decoration: none;
}

.listing img{
    min-width: 218px;
    height: 218px;
}









.listing-item {
    width: 1184px;
    height: 717.47px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 105px;
    padding-top: 30px;
}

.listing-item-content {
    width: 378.09px;
    height: 945.67px;
    display: flex;
    flex-direction: column;
}

.listing-item-content p{
    font-family: 'Roboto', sans-serif;
}

.listing-item-content section{
    padding-bottom: 5px;
    color: #414141;
    display: flex;
    flex-direction: row;
    width: 110px;
    height: 16px;
    font-size: 12.8px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.listing-item-seperator {
    margin: 0px 7.68px;
}

.listing-item-title {
    font-family: 'Roboto', sans-serif;
    font-size: 25.6px;
    color: #414141;
    width: 378.09px;
    height: 60px;
}
.listing-item-price {
    font-family: 'Roboto', sans-serif;
    font-size: 28.8px;
    color: #414141;
    width: 106.72px;
    height: 34px;
}

.listing-item-button {
    color: #FFFFFF;
    background-color: #F6870F;
    width: 378.09px;
    height: 39.19px;
    font-size: 17.60px;
    border-radius: 6px;
    box-shadow: none;
    border: 0;
    margin-top: 15px;
    margin-bottom: 50px;
}
.listing-item-button:hover {
    cursor: pointer;
    outline: none;
}


.listing-item-img{
    min-width: 750px;
    max-width: 750px;
    max-height: 687.47px;
    min-height: 687.47px;
    border: 1px solid lightgray;
}



.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid lightgray;
    font-family: 'Roboto', sans-serif;
}
.reviews h3 {
    padding-top: 10px;
}

.create-review {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #F6870F;
    color: #FFFFFF;
    border: 0;
    box-shadow: none;
    border-radius: 3px;
    height: 30px;
    width: 160px;
}

.review-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    overflow-y: hidden;
}

.review {
    font-family: 'Roboto', sans-serif;
    border-top: 1px solid lightgray;
    background-color: ghostwhite;
    width: 378.09px;
    height: 110px;
    display: flex;
    flex-direction: column;
}
.title-review {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}
.review-map-title {
    padding-right: 5px;
}
.review-map-rating {
    padding-bottom: 10px;
    padding-left: 10px;
}
.review-map-content {
    padding-left: 10px;
    font-weight: lighter;
}

.review-map-user {
    margin-left: 50px;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    background-color: #F6870F;
    color: #FFFFFF;
    box-shadow: none;
    border-radius: 2px;
    border: 0;
}
.review-map-no-user {
    display: none;
}
.review-map-update {
    margin-left: 50px;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    background-color: #F6870F;
    color: #FFFFFF;
    box-shadow: none;
    border-radius: 2px;
    border: 0;
}
.review-map-no-update {
    display: none;
}

.no-reviews{ 
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: flex;
    min-width: 250px;
}










.discover {
    display: flex;
    justify-content: left;
    align-items: center;
    /* max-height: 6000px; */
    /* border: 1px solid lightgrey; */
    overflow-x: auto;
    padding-left: 30px;
    /* overflow-x: scroll; */
    /* overflow-x: visible; */
}

.discover .tile {
    min-width: 219px;
    height: 325px;
    /* padding: 0px 12px; */
    margin-bottom: 5px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    margin-right: 25px;
}

.discover .tile:hover{
    box-shadow: 0 20px 20px rgba(0,0,0,0.1), 0 0px 50px rgba(0,0,0,0.1);
}


.discover-heading {
    padding-bottom: 10px;
    padding-top: 65px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 30px;
}







.demo {
    font-family: 'Roboto', sans-serif;
    border: 1px solid lightgrey;
    background: none;
    box-shadow: none;
    height: 34px;
    width: 363px;
    border-radius: 3px;
    background-color: #F6870F;
    display: flex;
    align-items: center;
    justify-content: center;
    color: cornsilk;
    margin-left: 7px;
}
.demo:hover {
    cursor: pointer;
}








.body {
    position: relative;
}














.second-search {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 200px;
    left: 50px;
    color: cornsilk;
}

.s2-heading {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 60px;
    font-weight: 100;
}

.s2-rand {
    margin-top: 15px;
}

.category-link {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cat-link {
    text-decoration: none;
    color: cornsilk;
}












.filter {
    min-width: 1184px;
    min-height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    border-bottom: 1px solid lightgray;
}

.filterbar {
    min-width: 1300px;
    min-height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar1 {
    width: 900px;
    min-height: 38px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: 20px;
}

.filter-navbar {
    padding-right: 20px;
    color: #414141;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.bar2 {
    width: 443px;
    min-height: 38px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-left: 1px solid lightgray;
}

.filter-navbar2 {
    padding-right: 20px;
    padding-left: 10px;
    color: #414141;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.filter-navbar2:hover {
    color: #F6870F;
}










.footer {
    margin-top: 100px;
    background-color: #313131;
    min-width: auto;
    min-height: 337px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-left: 30px;
}

.footer-div ul{
    font-family: 'Roboto', sans-serif;
}

.footer-div ul a{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: small;
    text-decoration: none;
}

.footer-div ul a:visited {
    color: #fff;
}

.footer-div ul a:hover{
    cursor: pointer;
}

#li1 {
    font-weight: 800;
}









.bottom-footer {
    background-color: #141414;
    min-width: auto;
    min-height: 173px;  
    display: flex;
    justify-content: center;
}

.bf-section1 {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.bf-section1 i{
    font-size: xx-large;
    margin-right: 8px;
    margin-top: 30px;
}

.bf-section2 {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.bf-section2 i{
    font-size: xx-large;
    margin-right: 8px;
    margin-top: 30px;
}

.bf-div {  
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 15px;
}








.staffpicks {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-x: auto;
    padding-left: 30px;
}

.staffpicks .stile {
    min-width: 219px;
    height: 325px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    margin-right: 12px;
    margin-right: 25px;
}

.staffpicks .stile:hover{
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0px 50px rgba(0,0,0,0.2);
}

.staffpicks-heading {
    padding-left: 350px;
    padding-bottom: 65px;
    padding-top: 65px;
    font-size: 32.2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgray;
    border-radius: 6px;
    width: 1000px;
    margin-top: 20px;
    margin-left: 200px;
    flex-direction: column;
}

.cart-item {
    border: 1px solid lightgray;
    border-radius: 3px;  
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 950px;

}

.cart-item-img {
    max-height: 150px;
    max-width: 150px;
    min-width: 150px;
    min-height: 150px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.item-cart {
    width: 800px;
    height: 150px;
}

.item-cart-info {
    width: 800px;
    height: 100px;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
}

.cart-item-checkout {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 50px;
    width: 800px;
    margin-top: 3px;
}

.cart-item-button {
    margin-top: 5px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #F6870F;
    box-shadow: none;
    border: 0;
    color: #FFFFFF;
    border-radius: 3px;
}

.cart-item-checkout-button {
    margin-right: 15px;
    color: #FFFFFF;
    border: 0;
    box-shadow: none;
    border-radius: 3px;
    height: 25px;
    background-color: #52b052;
    background: #59b359;
}

.cart-item-disclaimer {
    margin-right: 15px;
    margin-bottom: 2px;
    font-size: smaller;
    font-family: 'Roboto', sans-serif;
}

.cart-item-quant {
    margin-top: 15px;
    margin-bottom: 15px;
}

.cart-item-info {
    margin-top: 15px;
    margin-left: 15px;
    width: 550px;
}

.cart-item-title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.cart-item-purchase {
    width: 250px;
    margin-top: 15px;
    margin-right: 15px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
